3 To - Do - Task

3.1 Warm Up Exercises:
1. Sorting and Subsetting:

Problem 1 - Sorting:

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/content/Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the head of the result.
fare=df[["Fare"]]
fare.head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [ ]:
# 2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic dataset, in that order. Print the head of the result.
class_age=df[["Pclass","Age"]]
class_age.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
#3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the Titanic dataset, in that order.Print the head of the result.
survived_gender=df[["Survived","Sex"]]
survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem - 2 - Subsetting:

Subsetting Rows:

In [ ]:
#1. Filter the Titanic dataset for cases where the passengers fare is greater than 100, assigning it to fare gt 100.View the printed result.
fare_gt100=df[df["Fare"]>100]
fare_gt100.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C

In [ ]:
#2. Filter the Titanic dataset for cases where the passengers class (Pclass) is 1, assigning it to first class.View the printed result.
first_class=df[df["Pclass"]==1]
first_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [ ]:
#3. Filter the Titanic dataset for cases where the passengers age is less than 18 and the passenger is female (Sex is "female"), assigning it to female under 18. View the printed result.
female_under_18=df[(df["Age"]<18) & (df["Sex"]=="female")]
female_under_18.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

Subsetting Rows by Categorical variables:

In [ ]:
#1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S" (Southampton), assigning the result to embarked c or s. View the printed result.
embarked_c_or_s=df[(df["Embarked"]=="C") | (df["Embarked"]=="S")]
embarked_c_or_s.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first second class.View the printed result.
first_second_class=df[df["Pclass"].isin([1, 2])]
first_second_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

3.2 Exploratory Data Analysis Practice Exercise - 1.

Which passenger had the highest fare paid relative to their age?

In [ ]:
#Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of the passenger(i.e., Fare/Age).
median_age=df["Age"].median()
df["Age"]=df["Age"].fillna(median_age)
df["fare_per_year"]=df["Fare"] / df["Age"]

In [ ]:
#2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
high_fare_age=df[df["fare_per_year"]>5]

# 3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
high_fare_age_srt=high_fare_age.sort_values(by="fare_per_year",ascending=False)

# 4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
result=high_fare_age_srt[["Name","fare_per_year"]]

#5. Look at the result.
result.head()

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

Which adult male passenger (age  18 and Sex is male) paid the highest fare relative to their
class?

In [ ]:
#1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger class i.e. Fare / Pclass.
df["fare_per_class"]=df["Fare"] / df["Pclass"]

#2. Subset rows where the passenger is male (Sex is male) and an adult (Age is greater than or equal to 18), assigning this to adult males.
adult_males=df[(df["Sex"]=="male") & (df["Age"]>=18)]

# 3. Sort adult males by descending fare per class, assigning this to adult males srt.
adult_males_srt=adult_males.sort_values(by="fare_per_class",ascending=False)

# 4. Select only the Name, Age, and fare per class columns of adult males sr and save the result as result.
result=adult_males_srt[["Name", "Age", "fare_per_class"]]

# 5. Look at the result.
result.head()

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

What percent of the total fare revenue came from each passenger class?

In [ ]:
#1. Calculate the total Fare paid across all passengers in the Titanic dataset.
total_fare=df["Fare"].sum()

# 2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
first_class_fare=df[df["Pclass"]==1]["Fare"].sum()

# 3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
second_class_fare=df[df["Pclass"]==2]["Fare"].sum()
third_class_fare=df[df["Pclass"]==3]["Fare"].sum()

# 4. Combine the fare totals from first, second, and third classes into a list.
fare_totals=[first_class_fare,second_class_fare,third_class_fare]

# 5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.
fare_percent=[(fare / total_fare)*100 for fare in fare_totals]

print("Total Fare: ",total_fare)
print("\nProportion of fare revenue by class: ")
print(f"First Class:  {fare_percent[0]:.2f}%")
print(f"Second Class: {fare_percent[1]:.2f}%")
print(f"Third Class:  {fare_percent[2]:.2f}%")

Total Fare:  28693.9493

Proportion of fare revenue by class:
First Class:  63.35%
Second Class: 13.25%
Third Class:  23.40%

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

In [ ]:
# 1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age 18{64), and "senior" (age 65 and above).
def age_group(age):
    if (age<18):
        return "child"
    elif (18 <= age < 65):
        return "adult"
    else:
        return "senior"

df["age_group"]=df["Age"].apply(age_group)

# 2. Calculate the total number of passengers on the Titanic.
total_passengers=len(df)

# 3. Count the number of passengers in each age group.
age_count=df["age_group"].value_counts()

# 4. Divide the count of each age group by the total number of passengers to get the proportion of passengers in each age group
age_percent=(age_count / total_passengers)*100

# 5. Display the proportion as a percentage.
print("Percentage of Passengers by Age Group: ")
print(f"Child:  {age_percent['child']:.2f}%")
print(f"Adult:  {age_percent['adult']:.2f}%")
print(f"Senior: {age_percent['senior']:.2f}%")

Percentage of Passengers by Age Group:
Child:  12.68%
Adult:  86.08%
Senior: 1.23%